<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de fauna</h1>
  </div>
  <div class="card-container" *ngFor="let element of datasource.data">
    <mat-card class="fauna-card mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Código: {{ element.idFauna }}</mat-card-title>
        <mat-card-subtitle>Fauna: {{ element.nameFauna }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Familia:</strong> {{ element.familyFauna }}</p>
        <p><strong>Latitud:</strong> {{ element.latitudeFauna }}</p>
        <p><strong>Longitud:</strong> {{ element.lengthFauna }}</p>
        <p><strong>Estado:</strong> {{ element.stateFauna }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['ediciones', element.idFauna]">
          <mat-icon>edit</mat-icon> Actualizar
        </button>
        <button mat-button color="warn" (click)="delete(element.idFauna)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>